{% extends 'explore/basic.html' %}
{% block title %} Gadget Gyan - Home {% endblock %}
  <!--------------------------------------------special treatment card----------------------------------------------------->
  {% block stcard %}
<div class="container">
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    {% endblock %}

    {% block carousel %}
    <!-----------------------------------------Carousel------------------------------------------------------->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/1920x1080/?smartphone" class="d-block w-100" alt="technology">
        </div>
      </div>
    </div>
    {% endblock %}
    <!----------------------------------------------Card ------------------------------------------------------------------>
    {% block card %}
    <div class="container">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}